
@font-face {
  font-family: "Noto-Sans-Arabic";
  src: url("fonts/NotoSansArabic.ttf") format("opentype");
  font-weight: 100;
  font-style: normal;
}

body,
html {
  font-family: "Noto-Sans-Arabic";
}

.item-name {
  font-family: "Noto-Sans-Arabic";
  font-weight: bold;
  text-align: right;
  letter-spacing: normal;
}

.item-description {
  font-family: "Noto-Sans-Arabic";
  text-align: right;
  font-weight: bold;
  letter-spacing: normal;
}

.menu-header h1 {
  font-family: "Noto-Sans-Arabic";
  font-weight: bold;
  display: inline-flex;
  letter-spacing: normal;
}